<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure
      ullam placeat nobis nesciunt reiciendis numquam adipisci iste dignissimos
      ad perferendis amet, at, libero velit.
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, excepturi
        laboriosam? Repellendus aut ullam odit, expedita quam asperiores odio
        magni.
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure
      ullam placeat nobis nesciunt reiciendis numquam adipisci iste dignissimos
      ad perferendis amet, at, libero velit.
    </p>
  </div>
</section>
