<div class="collapsible collapsible--expanded">
  <header class="collapsible_header">
    <h2 class="collapsible-heading">Item 1</h2>
    <img
      src="icons/chevron.svg"
      alt=""
      class="icon icon--primary collapsible__chevron"
    />
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam fugiat
    sequi quaerat placeat nostrum sed obcaecati vel quae asperiores cum
    provident corporis soluta, praesentium eligendi!
  </div>
</div>
